@import "~normalize.css";
@import "fonts.css";
body{
    font-family: 'Open Sans Condensed', sans-serif;
    

}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

.container {
    padding: 20px, 40px;
    
}

.webpack-logo{
    background-image: url('../img/WebpackLog.png');
    background-size: cover;
    width:300px;
    height: 300px;
    margin: 0 auto;
}